<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    <link rel='stylesheet' href="/stylesheets/notifications.css"/>
    <title>{{title}}</title>
</head>

<body>
{{include 'elements/header'}}
<div class="main container">
    {{include 'search/search_view'}}
    <div>
        {{include 'elements/menu'}}
        <div class="content">
            {{include 'search/search_repos_list'}}
            {{include 'elements/page_nav'}}
        </div>
    </div>
</div>
{{include 'elements/footer'}}
</body>

</html>