
#menu {
    position: absolute;
    left: 30px;
    width: 160px;
    top: 150px;
    bottom: 0px;
}

#feedsDetail {
    position: absolute;
    left: 190px;
    width: auto;
    top: 150px;
    bottom: 30px;
}