body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* 元素里面的元素居中 */
.contentHorizontalCenter
{
  text-align:center;
}

/* 整个界面布局 */

.header {
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  text-align: center;
  margin-top: 50px;
  clear: both;
}

.body {

}

ul.menu {
  float: left;
}

li.menu {
  margin-bottom: 10px;
}

.content {
  margin-left:200px;
}

.pageNavigation {
  margin-top: 20px;
}